/venv
/.venv
*.pt
appConfig.json
/ml_env
/datasets
/models/sun_tracker_v3/sun_tracker_v3_float32.tflite
*.onnx
.vscode
node_modules
firebase/firebase-credentials.json
.env
/python/venv
.next
.vscode
python/__pycache__